<div>
    <h1>Bienvenido al Desafío 4 de Programacion Backend en Coderhouse!!</h1>

    <h3>Completá y agrega un producto nuevo</h3>
    <input id="title" type="text" placeholder="Título"/>
    <input id="description" type="text" placeholder="Descripción"/>
    <input id="code" type="text" placeholder="Código"/>
    <input id="price" type="number" placeholder="Precio"/>
    <input id="stock" type="number" placeholder="Stock"/>
    <input id="category" type="text" placeholder="Categoria"/>
    <button id="btnAdd">Agregar</button>

    <h3>Elegir ID de un producto para eliminarlo</h3>
    <input id="idProd" type="number" placeholder="ID a eliminar"/>
    <button id="btnDel">Eliminar</button>
    <hr>

        {{#each products}}
            <div>
                <p>Product Title: {{this.title}}</p>
                <p><b>Price: {{this.price}}</b></p>
                <hr>
            </div>
        {{/each}}

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>